<table>
  <thead>
    <tr>
      {{#each columns}}
      <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each datas}}
    <tr>
      {{#each this}}
      <td>{{this}}</td>
      {{/each}}
      {{#if this.OrderDate}}
        <td></td>
      {{else}}
        <form id="deleteForm" method="post" action="/select/basket/buy">
          <td>
          <input type="hidden" name="Book_ISBN" value="{{this.Book_ISBN}}">
          <input type="hidden" name="BasketID" value="{{this.BasketID}}">
          <div class="buttons">          
            <button type="submit">Buy</button>
          </div>
          </td>
        </form>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>