<div class="buttons">
<div class="buttons">
  <button onclick="insert()">Insert</button>
  <button onclick="update()">Update</button>
  <button onclick="deleteFunc()">Delete</button>
</div>
</div>


<table>
  <thead>
    <tr>
      {{#each columns}}
      <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each datas}}
    <tr>
      {{#each this}}
      <td>{{value}}</td>
      {{/each}}
      <form id="deleteForm" method="post" action={{../post}}>
        {{#each this}}
            <input type="hidden" name="{{key}}" value="{{value}}">
        {{/each}}
        <td>
          <button type="submit">Delete</button>
        </td>
      </form>
    </tr>
    {{/each}}
  </tbody>
</table>