<div class="buttons">
  <div class="buttons">
    <button onclick="insert()">Insert</button>
    <button onclick="update()">Update</button>
    <button onclick="deleteFunc()">Delete</button>
  </div>
</div>


<table>
  <thead>
    <tr>
      {{#each columns}}
      <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each datas}}
    <tr>
      {{#each this}}
      <td>{{this}}</td>
      {{/each}}
    </tr>
    {{/each}}
    <tr>
      <form id="insertForm" method="post" action={{post}}>
        {{#each columns}}
        <td>
          <input type="text" id="{{this}}" name="{{this}}" required placeholder="Enter {{this}}">
        </td>
        {{/each}}
        <td>
          <div class="buttons">          
            <button type="submit">Insert</button>
          </div>
        </td>
      </form>
    </tr>
  </tbody>
</table>